
div {
  background-color: rgb(50, 53, 58);
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/af/sssssss-aaaaaaaaaaa-ddddddddd-fffffffff-rrrrrrr.jpg");
  color:  rgb(245, 0, 0);
  font-size: 110%;
  padding: 7px 15px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 4px 4px black;
}

